@charset "UTF-8";

//? ■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■

//? grid設定

//? ■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■━■

// *=========================================
// *grid-imgの設定
// *=========================================

// *画像並べる用（スマホ１枚・PC3枚）
// ----------------------------------------------------------
.grid-img {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, minmax(200px, 1fr));
  //repeat（1,（並べる個数）、minmax（最小サイズ,最大サイズ）
  //auto-fitはブラウザ幅に合わせて並べる個数を調整、この部分に数字で並べる個数を固定1frは均等最大サイズ

  @include pc {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 16px;
  }
}

// *=========================================
// *gridシステム
// *=========================================

// *===============================
// *親要素に付与(sp版は4分割・PC版は12分割で算出）
// *===============================

// *12分割(フルサイズ用)
// ----------------------------------------------------------
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-gap: 10px;

  @include pc {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
  }
}

// *===============================
// *子要素に付与（サイズ指定）
// *col（横幅の設定）
// *===============================

// *===============================
// *col〇ゾーン
// *PC幅は〇fr、SP幅は100％になるクラス
// *===============================

@for $i from 1 through 12 {
  .col#{$i} {
    grid-column: span 4;

    @include pc {
      grid-column: span #{$i};
    }
  }
}

// *===============================
// *col-sp〇ゾーン
// *PC幅は〇fr、SP幅は50％になるクラス
// *===============================

@for $i from 1 through 12 {
  .col-sp#{$i} {
    grid-column: span 2;

    @include pc {
      grid-column: span #{$i};
    }
  }
}


// *===============================
// *row（高さ）
// *===============================

@for $i from 1 through 12 {
  .row#{$i} {
    grid-row: span #{$i};
  }
}


.offset1 {
  margin-left: 1fr;
}

// *===============================
// *gridレイアウトの高さの調整
// *===============================
// *上揃え
// ----------------------------------------------------------
.grid-top {
  align-self: start;
}

// *中央揃え
// ----------------------------------------------------------
.grid-center {
  align-self: center;
}

// *下揃え
// ----------------------------------------------------------
.grid-bottom {
  align-self: end;
}